/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6F00; /* Color de fondo naranja */
    padding: 10px 30px;
}

.header img {
    width: 50px;
    height: 50px;
}

.header input[type="submit"] {
    background-color: #FF6F00;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.header input[type="submit"]:hover {
    background-color: #FF4500; /* Cambio de color al pasar el mouse */
}

/* Contenedor principal */
.sectionNoAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.contenedor_parte_superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin-bottom: 20px;
}

.Bienvenido h2, .Bienvenido h3 {
    margin: 0;
}

.Bienvenido h2 {
    font-size: 28px;
    color: #333;
}

.Bienvenido h3 {
    font-size: 22px;
    color: #00796B; /* Color para administrador */
}
.carrito{
    margin-left: -100px;
}
.imagen_aparte{
    width: 100px;
    height: 100px;
}
/* Panel de productos */
.panel {
    width: 80%;
    max-width: 1200px;
    margin-top: 400px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 700px;
    display: flex;
}

.panel h1 {
    font-size: 32px;
    color: #333;
    text-align: center;
    margin-top: -120px;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #FF6F00;
    color: white;
    font-size: 18px;
}

td {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

tr:hover {
    background-color: #f1f1f1; /* Efecto de hover en filas */
}

tr:last-child td {
    border-bottom: none;
}
