* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.id {
    outline: 2px solid red;
}
body{
    display: flex;
    background-color:#e8ffe8;
    background-repeat: no-repeat;
    background-size:cover ;
    justify-content: center;
    width: 100%;
    height: 100%;
    outline: 2px solid none;
}

.fondo_frutas{
    position: absolute;
    width: 600px;
    height: 350px;
    margin-right: 1320px;
    margin-top: 577px;
    border-radius: 10px;
}

.fondo_naranjas{
    position: absolute;
    width: 600px;
    height: 350px;
    margin-top: 577px;
    margin-left: 1320px;
}

.fondo_logo{
    position: absolute;
    width: 350px;
    height: 350px;
}

.contenedor_form {
    display: flex;
    background-color: #89e789;
    margin-top: 300px;
    animation: mover 3s infinite alternate;
    height: 300px;
    padding-top: 50px;
    border-radius: 30px;
    margin-top: 350px;
}

.container div{
    display: flex;
    border-bottom: 1px solid white;
    margin:15px;
    
}
input{
    width: 120px;
    height: 20px;
    margin-left: 10px;
    background:transparent;
    border: transparent;
}

input[type="submit"]{
    color: white;
    background-color: #c2e012;
    width: 150px;
    height: 30px;
    margin-right: 10px;
    border-radius: 10px;
}

.imagen_input{
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
    
}
input:focus{
    outline: none;
}

h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    color: red;
    margin-top: 660px;
    margin-left: -270px;
    font-size: 30px;
}

nav {
    margin-top: 300px;
    animation: mover 3s infinite alternate;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 280px;
    height: 250px;
    padding: 30px;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.imagen{
    display: flex;
    width: 70px;
    height: 70px;
    outline: none;
    margin-top: -50px;
}

.login {
    margin-bottom: 10px;
}


.bodyLogueado {
    display: flex;
    flex-wrap: wrap;
    background-color: #ccfacc;
    width: 100%;
    height: 100%;
}

.bodyLogueado header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: end;
}

.bodyLogueado header input{
    margin-right: 20px;
    width: 160px;
    height: 30px;
    background:transparent;
    border: transparent;
    color: black;
    font-size: 20px;
}

.bodyLogueado .sectionNoAdmin{
    display: flex;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 250px;
    font-size: 30px;
}

.bodyLogueado .sectionAdmin{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: left;
    width: 100%;
    height: 200px;
    font-size: 30px;
}

.bodyLogueado section .Bienvenido{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
    border-radius: 4px;
}

.fondo_logueado {
    position: absolute;
    width: 80px;
    height: 70px;
    margin-right: 1840px;
}

.bodyLogueado .anadir {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -150px;
    width: 50px;
    height: 50px;   
    border: none;
}

.bodyLogueado .anadir img {
    width: 50px;
    height: 50px;
}

.bodyLogueado .aceptar {
    width: 150px;
    height: 50px;
    background: #52fc68;
    border: transparent;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}

.bodyLogueado .productos {
    width: 150px;
    height: 50px;
    background: #52fc68;
    border: transparent;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}

.bodyLogueado .ventas {
    width: 200px;
    height: 50px;
    background: #52fc68;
    border: transparent;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .fondo_naranjas{
        display: none;
    }
    .fondo_frutas{
        display: none;
    }

    table{
        margin-top: 100px;
    }

    .aceptar{
        margin-left: 280px;
        margin-top: 250px;
    }
    .anadir{
        margin-left: -500px;
        margin-top: 250px;
    }

    .ventas {
        padding: 8px 15px;
    }

    .Bienvenido h2 {
        font-size: 0.9em;
        margin: 0;
    }
    
    #poner {
        font-size: 0.9em;
        margin-top: 5px;
    }

    #cerrarSesion {
        margin-left: auto;
        padding: 8px 12px;
        border-radius: 5px;
        border: none;
    }

    th:nth-of-type(3) {
        width: 20px;  /* Establece el ancho de la celda */
    }
    

}

/* ADMIN */ 

table {
    background-color: #facc88;
    color: black;
}

table thead{
    width: 300px;
    height: 100px; 
}

table th{
    border-width: 3px;
}

.panel {
    display: flex;
    width: 80%;
    height: 500px; 
    flex-wrap: wrap;
    overflow-y: scroll; 
}

td{
    text-align: center;
    width: 300px;
    height: 100px;
    background-color: white ;
}

.panel .botones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.panel .botones button{
    width: 50px;
    height: 50px;
    border: none;
}

td .modificar img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    width: 40px;
    height: 40px;
}

td .eliminar img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    width: 40px;
    height: 40px;
}