/* Paleta de colores - Naturaleza */
:root {
    --color-fondo: #e6f7e1; /* Verde claro */
    --color-principal: #52fc68; /* Verde más brillante */
    --color-secundario: #3b6e36; /* Verde oscuro */
    --color-contraste: #ffffff; /* Blanco */
    --color-boton-hover: #45b854; /* Verde más oscuro para hover */
}

/* Estilo global */
body {
    background-color: var(--color-fondo);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 90px;
    background-color: var(--color-secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header img {
    width: 80px;
    height: 70px;
}

header input {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid var(--color-contraste);
    color: var(--color-contraste);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header div{
    margin-right: 10px;
}

header input:hover {
    background-color: var(--color-secundario);
    color: var(--color-contraste);
}

/* Contenedor principal */
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
    max-width: 1600px;
    box-sizing: border-box;
}

/* Sección de gráficos */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.grafico {
    width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

button {
    width: 250px;
    height: 50px;
    background-color: var(--color-principal);
    border: none;
    border-radius: 10px;
    color: var(--color-contraste);
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: var(--color-boton-hover);
}

/* Estilo de los gráficos */
.google-visualization-tooltip {
    background-color: #333;
    color: #fff;
}

/* Estilo para los botones de exportar */
section button {
    width: 200px;
    height: 50px;
    background-color: var(--color-principal);
    border: none;
    border-radius: 8px;
    color: black;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

section button:hover {
    background-color: var(--color-boton-hover);
}