* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: lightcyan;
    background-repeat: no-repeat;
    background-size:cover ;
    justify-content: center;
    width: 100%;
    height: 100%;
}

nav {
    margin-top: 300px;
    animation: mover 3s infinite alternate;
}

h1 {
    display: flex;
    justify-content: center;
    color: red;
    margin-top: 20px;
    font-size: 30px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 280px;
    height: 250px;

    padding: 30px;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.login {
    margin-bottom: 10px;
}

.bodyLogueado {
    display: flex;
    flex-wrap: wrap;
    background-color: #98ff98;
    width: 100%;
    height: 100%;
}

.bodyLogueado header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 2px solid red;
    display: flex;
    justify-content: end;
}

.bodyLogueado header input{
    margin-right: 20px;
    width: 100px;
    height: 20px;
    background: none;
    border: none;
    border: olive 1px solid;
}

.bodyLogueado section{
    display: flex;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 877px;
}

.bodyLogueado section .Bienvenido{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    background:#b5b5b5;
    border-radius: 4px;
}